<link rel="stylesheet" type="text/css" href="/Profile.css">
<link rel="stylesheet" type="text/css" href="/home.css"/>
<% if(user.id == profile_user._id)
{%>
    <img  src="<%= user.avatar %>" alt="<%= user.name %>" height="100px" width="100px">
    <h3><%= profile_user.name %></h3>
    <button onclick="myFunction()">Edit</button>
    <form id="FORM" action="/update/<%= profile_user.id %>" enctype="multipart/form-data" method="post">
      <input class="input" type="text" name="name" placeholder="your name" value="<%= profile_user.name %>" required>
      <input class="input" type="text" name="email" placeholder="your email" value="<%= profile_user.email %>" required>
      <input class="input" type="file" name="avatar" placeholder="profile_picture">
      <input class="submit" type="submit" value="update">
    </form>
    <div id="post-list-container">
      <ul>
   <% for( Post of Post)
   {%>
     <% if(Post.uuser._id == user.id)
     {%>
       <%- include('_post'); %>
       <%- include('_comment'); %>
       <%}
       %>
       <%} %>
     </ul>
 </div>
   <script src="js/toogle_like.js"></script>
   <script>
     $('.toggle-like-button').each(function(){
       let self = this;
       let toggleLike = new ToggleLike(self);
     });
     </script>
    <%}
    else
    {%>
      <h1><%= profile_user.email %></h1>
      <h1><%= profile_user.name %></h1>
      <%}
      %>